html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          width: 100%;
          background-image: url("bank_login_bg.jpg");
          background-repeat: repeat-x;
      }

.login {
  color:#42cbf4;
  vertical-align: middle;
  text-align: center;
}

button{
  background-color: rgba(230, 230, 230, 0.5);
  width: 60%;
  border-radius: 10px;
  padding: 4%;
}



.table-registration{
  background-color: rgba(66,203,244,0.25);
  height: 100%;
  margin: 0;
  padding: 5%;
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
}



input{
    text-align: center;
    width: 90%;
    border-radius: 20px;
    padding :4%;
    margin: 0;
}

td{
    padding :2%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



table{
  height: 100%;
  table-layout: fixed;
  padding: 10%;
}

th, td {
    text-align: center;
}


.div-center {
  position: absolute;
  top: 20%;
  margin-left: 25%;
  }
