<html>



<div class="login">
  <h1> Welcome to Tamilnadu Development Bank </h1>
</div>
<center><h3 style="color:#42cbf4;">Login</h3></center>
<table class='table-login'>
  <tr><th>Customer Id:</th> <td><input type="text"/></td> </tr>
  <tr><th>Password:</th> <td><input type="password"/></td></tr>
  <tr><td></td><td><button>login</button></td></tr>
</table>


</html>
